# Gradient Boosting

---

### Installation

conda install -c conda-forge lightgbm

---

### Import Libraries and Dependencies

In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

# Turn off warnings
import warnings
warnings.filterwarnings("ignore")

import gc

### Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
def encode(X):
  return X.apply(lambda x: X[x.name] if X[x.name].dtype == 'int64' or X[x.name].dtype == 'float64' else LabelEncoder().fit_transform(X[x.name].astype(str)))

### Helper functions

In [ ]:
# def fill_in(data):
#     for i in data.columns:
#         if data[i].dtype == "object":
#             data[i] = data[i].fillna("")
#         elif (data[i].dtype == "int64" or data[i].dtype == "float64"):
#             data[i] = data[i].fillna(data[i].mean())
#         else:
#             pass
#     return data

In [ ]:
def get_agg(app, agg_list, group_by_column='SK_ID_CURR'):
  app = encode(app)
  app = app.groupby(group_by_column).agg(agg_list)
  app.columns = ['_'.join(col) for col in app.columns.values]
  app.reset_index(inplace=True)
  return app

### Read in CSV as Pandas DataFrame

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
relative_path = '/content/drive/My Drive/Colab Notebooks'

Mounted at /content/drive

In [ ]:
def engineer_features(df):
    df['DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
    df['INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']
    df['INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']
    df['ANNUITY_INCOME_PERC'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
    df['PAYMENT_RATE'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']
    return df

In [ ]:
application_train = pd.read_csv(Path(relative_path + '/home-credit-default-risk/application_train.csv'))
application_train['DAYS_EMPLOYED'] = application_train['DAYS_EMPLOYED'].replace(365243, 0)
application_train['OWN_CAR_AGE'] = application_train['OWN_CAR_AGE'].fillna(0)
# application_train = fill_in(application_train)
application_train = engineer_features(application_train)
application_train = encode(application_train)
application_train.shape

(307511, 127)

In [ ]:
application_test = pd.read_csv(Path(relative_path + '/home-credit-default-risk/application_test.csv'))
application_test['DAYS_EMPLOYED'] = application_test['DAYS_EMPLOYED'].replace(365243, 0)
application_test['OWN_CAR_AGE'] = application_test['OWN_CAR_AGE'].fillna(0)
# application_test = fill_in(application_test)
application_test = engineer_features(application_test)
application_test = encode(application_test)
application_test.head()

   SK_ID_CURR  NAME_CONTRACT_TYPE  ...  ANNUITY_INCOME_PERC  PAYMENT_RATE
0      100001                   0  ...             0.152300      0.036147
1      100005                   0  ...             0.175455      0.077973
2      100013                   0  ...             0.344578      0.105202
3      100028                   0  ...             0.155614      0.031123
4      100038                   0  ...             0.178150      0.051266

[5 rows x 126 columns]

In [ ]:
credit_card_balance = pd.read_csv(Path(relative_path + '/home-credit-default-risk/credit_card_balance.csv'))
credit_card_balance.drop(columns=['SK_ID_PREV'], inplace=True)
# credit_card_balance = fill_in(credit_card_balance)
credit_card_balance.head()

   SK_ID_CURR  MONTHS_BALANCE  ...  SK_DPD  SK_DPD_DEF
0      378907              -6  ...       0           0
1      363914              -1  ...       0           0
2      371185              -7  ...       0           0
3      337855              -4  ...       0           0
4      126868              -1  ...       0           0

[5 rows x 22 columns]

In [ ]:
credit_card_balance = get_agg(credit_card_balance, ['min', 'max', 'mean', 'sum', 'var'])
credit_card_balance.head()

   SK_ID_CURR  MONTHS_BALANCE_min  ...  SK_DPD_DEF_sum  SK_DPD_DEF_var
0      100006                  -6  ...               0        0.000000
1      100011                 -75  ...               0        0.000000
2      100013                 -96  ...               1        0.010417
3      100021                 -18  ...               0        0.000000
4      100023                 -11  ...               0        0.000000

[5 rows x 106 columns]

In [ ]:
merged = pd.merge(left=application_train, right=credit_card_balance, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=application_test, right=credit_card_balance, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del application_train
del credit_card_balance
gc.collect()

0

In [ ]:
prev_app = pd.read_csv(Path(relative_path + '/home-credit-default-risk/previous_application.csv'))
prev_app.replace(365243, np.nan, inplace= True)
prev_app.drop(columns=['SK_ID_PREV'], inplace=True)
# prev_app = fill_in(prev_app)
prev_app['PREV_CREDIT_APPL_RATIO'] = prev_app['AMT_CREDIT']/prev_app['AMT_APPLICATION']
prev_app['PREV_ANNUITY_APPL_RATIO'] = prev_app['AMT_ANNUITY']/prev_app['AMT_APPLICATION']
prev_app['PREV_GOODS_APPL_RATIO'] = prev_app['AMT_GOODS_PRICE']/prev_app['AMT_APPLICATION']
prev_app.head()

   SK_ID_CURR  ... PREV_GOODS_APPL_RATIO
0    271877.0  ...                   1.0
1    108129.0  ...                   1.0
2    122040.0  ...                   1.0
3    176158.0  ...                   1.0
4    202054.0  ...                   1.0

[5 rows x 39 columns]

In [ ]:
prev_app_approved = get_agg(prev_app[prev_app['NAME_CONTRACT_STATUS'] == 'Approved'], ['min', 'max', 'mean'])
merged = pd.merge(left=merged, right=prev_app_approved, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=prev_app_approved, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del prev_app_approved
gc.collect()

0

In [ ]:
prev_app_refused = get_agg(prev_app[prev_app['NAME_CONTRACT_STATUS'] != 'Approved'], ['min', 'max', 'mean'])
merged = pd.merge(left=merged, right=prev_app_refused, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=prev_app_refused, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del prev_app_refused
del prev_app
gc.collect()

0

In [ ]:
bureau = pd.read_csv(relative_path + '/home-credit-default-risk/bureau.csv')
# bureau = fill_in(bureau)
bureau_balance = pd.read_csv(relative_path + '/home-credit-default-risk/bureau_balance.csv')
# bureau_balance = fill_in(bureau_balance)
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0      215354       5714462  ...               -131         NaN
1      215354       5714463  ...                -20         NaN
2      215354       5714464  ...                -16         NaN
3      215354       5714465  ...                -16         NaN
4      215354       5714466  ...                -21         NaN

[5 rows x 17 columns]

In [ ]:
bureau_balance = get_agg(bureau_balance, ['min', 'max', 'size'], group_by_column='SK_ID_BUREAU')
bureau_all = pd.merge(left=bureau, right=bureau_balance, how='left', left_on='SK_ID_BUREAU', right_on='SK_ID_BUREAU')

del bureau_balance
gc.collect()

bureau.drop(columns=['SK_ID_BUREAU'], inplace=True)
bureau_all.drop(columns=['SK_ID_BUREAU'], inplace=True)

In [ ]:
bureau_all_active = get_agg(bureau[bureau['CREDIT_ACTIVE'] == 'Active'], ['min', 'max', 'mean'])
merged = pd.merge(left=merged, right=bureau_all_active, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=bureau_all_active, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del bureau_all_active
gc.collect()

0

In [ ]:
bureau_all_non_active = get_agg(bureau[bureau['CREDIT_ACTIVE'] != 'Active'], ['min', 'max', 'mean'])
merged = pd.merge(left=merged, right=bureau_all_non_active, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=bureau_all_non_active, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del bureau_all_non_active
gc.collect()

0

In [ ]:
installments_payment = pd.read_csv(relative_path + '/home-credit-default-risk/installments_payments.csv')
installments_payment.drop(columns=['SK_ID_PREV'], inplace=True)
# installments_payment = fill_in(installments_payment)
installments_payment['PAYMENT_PERC'] = installments_payment['AMT_PAYMENT'] / installments_payment['AMT_INSTALMENT']
installments_payment['PAYMENT_DIFF'] = installments_payment['AMT_INSTALMENT'] - installments_payment['AMT_PAYMENT']
installments_payment['DAYS_PAST_DUE'] = installments_payment['DAYS_ENTRY_PAYMENT'] - installments_payment['DAYS_INSTALMENT']
installments_payment['DAYS_PAST_DUE'].apply(lambda x: max(0, x))
installments_payment['DAYS_BEFORE_DUE'] = installments_payment['DAYS_INSTALMENT'] - installments_payment['DAYS_ENTRY_PAYMENT']
installments_payment['DAYS_BEFORE_DUE'].apply(lambda x: max(0, x))
installments_payment.head()

   SK_ID_CURR  NUM_INSTALMENT_VERSION  ...  DAYS_PAST_DUE  DAYS_BEFORE_DUE
0      161674                     1.0  ...           -7.0              7.0
1      151639                     0.0  ...            0.0              0.0
2      193053                     2.0  ...            0.0              0.0
3      199697                     1.0  ...           -8.0              8.0
4      167756                     1.0  ...           17.0            -17.0

[5 rows x 11 columns]

In [ ]:
installments_payment = get_agg(installments_payment, ['max', 'mean', 'sum', 'var'])

In [ ]:
merged = pd.merge(left=merged, right=installments_payment, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=installments_payment, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del installments_payment
gc.collect()

125

In [ ]:
pos_cash_balance = pd.read_csv(relative_path + '/home-credit-default-risk/POS_CASH_balance.csv')
pos_cash_balance.drop(columns=['SK_ID_PREV'], inplace=True)
# pos_cash_balance = fill_in(pos_cash_balance)
pos_cash_balance.head()

   SK_ID_CURR  MONTHS_BALANCE  ...  SK_DPD  SK_DPD_DEF
0      182943             -31  ...       0           0
1      367990             -33  ...       0           0
2      397406             -32  ...       0           0
3      269225             -35  ...       0           0
4      334279             -35  ...       0           0

[5 rows x 7 columns]

In [ ]:
pos_cash_balance = get_agg(pos_cash_balance, ['max', 'mean'])

In [ ]:
merged = pd.merge(left=merged, right=pos_cash_balance, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=pos_cash_balance, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del pos_cash_balance
gc.collect()

50

In [ ]:
merged.head()

   SK_ID_CURR  TARGET  ...  SK_DPD_DEF_max_y  SK_DPD_DEF_mean_y
0      100002       1  ...               0.0                0.0
1      100003       0  ...               0.0                0.0
2      100004       0  ...               0.0                0.0
3      100006       0  ...               0.0                0.0
4      100007       0  ...               0.0                0.0

[5 rows x 602 columns]

In [ ]:
y = merged["TARGET"]

In [ ]:
X = merged.drop(columns=['SK_ID_CURR', 'TARGET'])
X.head()

   NAME_CONTRACT_TYPE  CODE_GENDER  ...  SK_DPD_DEF_max_y  SK_DPD_DEF_mean_y
0                   0            1  ...               0.0                0.0
1                   0            0  ...               0.0                0.0
2                   1            1  ...               0.0                0.0
3                   0            0  ...               0.0                0.0
4                   0            1  ...               0.0                0.0

[5 rows x 600 columns]

In [ ]:
# del merged
# gc.collect()

### Scaling

In [ ]:
# from sklearn.preprocessing import MinMaxScaler

In [ ]:
# Use the MinMaxScaler to scale data between 0 and 1.
# scaler = MinMaxScaler()
# X_scaled = scaler.fit_transform(X)

In [ ]:
# X_scaled[0]

### Split into train and test

In [ ]:
# from sklearn.feature_selection import RFE

# from lightgbm import LGBMClassifier
# rfe_estimator = LGBMClassifier(n_jobs=4,
#                                objective='binary',
#                                n_estimators=50,
#                                learning_rate=0.2,
#                                verbose=500)

# X = X.apply(lambda x: x.fillna(0))
# X = X.apply(lambda x: x.replace([np.nan, np.inf, -np.inf], 0))
# rfe = RFE(estimator=rfe_estimator)
# X, y = rfe.fit_transform(X, y)

In [ ]:
# X.shape, y.shape

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=78)

In [ ]:
X_train.shape

(230633, 600)

In [ ]:
y_train

187977    0
74944     0
14913     0
103222    0
306080    0
         ..
168477    0
256696    1
104758    0
235415    0
16854     0
Name: TARGET, Length: 230633, dtype: int64

### Oversampling

In [ ]:
# from collections import Counter
# Counter(y_train)

In [ ]:
# from imblearn.over_sampling import SMOTE

# X_train, y_train = SMOTE(random_state=78, sampling_strategy=0.25).fit_resample(X_train, y_train)

---

### Train Model

In [ ]:
from lightgbm import LGBMClassifier

In [ ]:
# Creat a Random Hyper parameter grid to assist in selecting the best parameteres for this model
# from sklearn.model_selection import RandomizedSearchCV

# n_estimators = [int(x) for x in np.linspace(start = 20, stop = 100, num = 8)]
# learning_rate = [x * 0.02 for x in range(1, 11)]
# num_leaves = [int(x) for x in np.linspace(100, 2500, num = 8)]
# max_bin = [100, 150, 200]
# num_iteration = [int(x) for x in np.linspace(100, 900, num = 8)]

# random_grid = {'n_estimators': n_estimators,
#                'learning_rate': learning_rate,
#                'num_leaves': num_leaves,
#                'max_bin': max_bin,
#                'num_iteration': num_iteration}

In [ ]:
# rs_cv = RandomizedSearchCV(estimator=LGBMClassifier(), param_distributions=random_grid, cv = 5, n_iter=100,verbose=1)
# rs_cv.fit(X_train, y_train, verbose=-1)

In [ ]:
# rs_cv.best_params_

In [ ]:
# !pip3 install pandas==1.1.5

In [ ]:
prediction_df = pd.DataFrame({})
prediction_proba = pd.DataFrame({})

from sklearn.model_selection import StratifiedKFold
# from sklearn.pipeline import Pipeline
# from imblearn.pipeline import Pipeline
# from imblearn.over_sampling import SMOTE

def get_LGBM_classifier():
  return LGBMClassifier(n_jobs=4,
                        objective='binary',
                        n_estimators=12000,
                        learning_rate=0.02,
                        num_leaves=31,
                        subsample=0.8,
                        max_depth=8,
                        silent=-1,
                        verbose=-1)

folds = StratifiedKFold(n_splits= 5, shuffle=True, random_state=78)

for n_fold, (train_idx, valid_idx) in enumerate(folds.split(X, y)):
  train_x, train_y = X.iloc[train_idx], y.iloc[train_idx]
  valid_x, valid_y = X.iloc[valid_idx], y.iloc[valid_idx]

  # print(train_x.columns[train_x.isna().any()].tolist())
  # print(train_y.isna().any())

  # smote = SMOTE(random_state=78)
  # train_x, train_y = smote.fit_resample(train_x, train_y)

  # model = get_LGBM_classifier()
  # pipeline = Pipeline(steps=[
  #                           #  ('oversampling',smote), 
  #                           #  ('feature_selection',rfe), 
  #                            ('training',model)
  #                            ])
  # pipeline.fit(train_x, 
  #              train_y, 
  #              training__eval_set=[(train_x, train_y), (valid_x, valid_y)], 
  #              training__eval_metric= 'auc', 
  #              training__verbose= 200, 
  #              training__early_stopping_rounds= 100)

  classifier = get_LGBM_classifier()
  classifier.fit(train_x, 
                 train_y,
                 eval_set=[(train_x, train_y), (valid_x, valid_y)], 
                 eval_metric= 'auc', 
                 verbose= 200, 
                 early_stopping_rounds= 100)
  
  prediction_df['Prediction_' + str(n_fold)] = classifier.predict(X_test)
  # kaggle submission
  prediction_proba['Prediction_' + str(n_fold)] = classifier.predict_proba(merged_test.drop(['SK_ID_CURR'], axis=1))[:, 1]

Training until validation scores don't improve for 100 rounds.
[200]	training's auc: 0.798897	training's binary_logloss: 0.235037	valid_1's auc: 0.768698	valid_1's binary_logloss: 0.243822
[400]	training's auc: 0.826067	training's binary_logloss: 0.22418	valid_1's auc: 0.779138	valid_1's binary_logloss: 0.239833
[600]	training's auc: 0.8458	training's binary_logloss: 0.216519	valid_1's auc: 0.782083	valid_1's binary_logloss: 0.238738
[800]	training's auc: 0.862363	training's binary_logloss: 0.210033	valid_1's auc: 0.782992	valid_1's binary_logloss: 0.238434
[1000]	training's auc: 0.876246	training's binary_logloss: 0.204233	valid_1's auc: 0.78368	valid_1's binary_logloss: 0.23826
[1200]	training's auc: 0.888532	training's binary_logloss: 0.198842	valid_1's auc: 0.783879	valid_1's binary_logloss: 0.238133
Early stopping, best iteration is:
[1261]	training's auc: 0.891815	training's binary_logloss: 0.197281	valid_1's auc: 0.783985	valid_1's binary_logloss: 0.238086
Training until validation scores don't improve for 100 rounds.
[200]	training's auc: 0.797869	training's binary_logloss: 0.235543	valid_1's auc: 0.774577	valid_1's binary_logloss: 0.242189
[400]	training's auc: 0.825144	training's binary_logloss: 0.224622	valid_1's auc: 0.785276	valid_1's binary_logloss: 0.237745
[600]	training's auc: 0.8447	training's binary_logloss: 0.216959	valid_1's auc: 0.787765	valid_1's binary_logloss: 0.236557
[800]	training's auc: 0.861068	training's binary_logloss: 0.210568	valid_1's auc: 0.788498	valid_1's binary_logloss: 0.236226
Early stopping, best iteration is:
[894]	training's auc: 0.867809	training's binary_logloss: 0.207793	valid_1's auc: 0.788691	valid_1's binary_logloss: 0.236112
Training until validation scores don't improve for 100 rounds.
[200]	training's auc: 0.798153	training's binary_logloss: 0.235292	valid_1's auc: 0.775167	valid_1's binary_logloss: 0.242503
[400]	training's auc: 0.826098	training's binary_logloss: 0.224107	valid_1's auc: 0.785429	valid_1's binary_logloss: 0.238347
[600]	training's auc: 0.845821	training's binary_logloss: 0.216374	valid_1's auc: 0.78823	valid_1's binary_logloss: 0.237265
[800]	training's auc: 0.861817	training's binary_logloss: 0.210024	valid_1's auc: 0.788731	valid_1's binary_logloss: 0.237031
[1000]	training's auc: 0.87569	training's binary_logloss: 0.204154	valid_1's auc: 0.789253	valid_1's binary_logloss: 0.236854
[1200]	training's auc: 0.887485	training's binary_logloss: 0.198782	valid_1's auc: 0.789572	valid_1's binary_logloss: 0.236734
Early stopping, best iteration is:
[1265]	training's auc: 0.891117	training's binary_logloss: 0.197104	valid_1's auc: 0.789608	valid_1's binary_logloss: 0.236704
Training until validation scores don't improve for 100 rounds.
[200]	training's auc: 0.796763	training's binary_logloss: 0.235695	valid_1's auc: 0.777775	valid_1's binary_logloss: 0.241996
[400]	training's auc: 0.824299	training's binary_logloss: 0.224755	valid_1's auc: 0.788944	valid_1's binary_logloss: 0.237482
[600]	training's auc: 0.844537	training's binary_logloss: 0.217041	valid_1's auc: 0.79192	valid_1's binary_logloss: 0.236259
[800]	training's auc: 0.861539	training's binary_logloss: 0.210501	valid_1's auc: 0.792938	valid_1's binary_logloss: 0.235834
[1000]	training's auc: 0.875731	training's binary_logloss: 0.204692	valid_1's auc: 0.793495	valid_1's binary_logloss: 0.235594
[1200]	training's auc: 0.88784	training's binary_logloss: 0.19926	valid_1's auc: 0.793738	valid_1's binary_logloss: 0.235439
[1400]	training's auc: 0.898462	training's binary_logloss: 0.194214	valid_1's auc: 0.793809	valid_1's binary_logloss: 0.235329
Early stopping, best iteration is:
[1307]	training's auc: 0.893676	training's binary_logloss: 0.196522	valid_1's auc: 0.793899	valid_1's binary_logloss: 0.235337
Training until validation scores don't improve for 100 rounds.
[200]	training's auc: 0.798607	training's binary_logloss: 0.235185	valid_1's auc: 0.77151	valid_1's binary_logloss: 0.243148
[400]	training's auc: 0.825959	training's binary_logloss: 0.224245	valid_1's auc: 0.781946	valid_1's binary_logloss: 0.239077
[600]	training's auc: 0.845789	training's binary_logloss: 0.216604	valid_1's auc: 0.785084	valid_1's binary_logloss: 0.237929
[800]	training's auc: 0.861557	training's binary_logloss: 0.210261	valid_1's auc: 0.786281	valid_1's binary_logloss: 0.237497
[1000]	training's auc: 0.875031	training's binary_logloss: 0.204556	valid_1's auc: 0.786733	valid_1's binary_logloss: 0.237337
[1200]	training's auc: 0.887141	training's binary_logloss: 0.199128	valid_1's auc: 0.787396	valid_1's binary_logloss: 0.237127
[1400]	training's auc: 0.897339	training's binary_logloss: 0.194161	valid_1's auc: 0.787619	valid_1's binary_logloss: 0.237067
Early stopping, best iteration is:
[1362]	training's auc: 0.895539	training's binary_logloss: 0.195069	valid_1's auc: 0.787687	valid_1's binary_logloss: 0.237034

In [ ]:
# classifier = LGBMClassifier(n_jobs=4,
#                             objective='binary',
#                             n_estimators=12000,
#                             learning_rate=0.02,
#                             num_leaves=31,
#                             subsample=0.8,
#                             max_depth=8,
#                             silent=-1,
#                             verbose=-1)
# classifier.fit(X_train, y_train, eval_set=[(X_train, y_train), (X_test, y_test)], 
#         eval_metric= 'auc', verbose= 200, early_stopping_rounds= 100)

In [ ]:
# from lightgbm import plot_importance

# feature_importance = plot_importance(classifier, figsize=(24, 32))
# feature_importance

In [ ]:
# feature_importance.get_figure().savefig(relative_path + "/feature_importance.png", transparent=False, facecolor='w', edgecolor='w')

---

### Make predictions

In [ ]:
# Changing the threshold
# def make_predictions_based_on_proba(p):
#   return 1 if p > 0.5 else 0

# proba = classifier.predict_proba(X_test)[:, 1]

# prediction_df = pd.DataFrame({"Proba": proba, "Actual": y_test.ravel()})
# prediction_df['Prediction'] = prediction_df['Proba'].apply(lambda p: 1 if p > 0.35 else 0)
# predictions = prediction_df['Prediction'].values
# predictions

In [ ]:
# predictions = classifier.predict(X_test)
# predictions

In [ ]:
predictions = prediction_df.any(axis=1)
predictions = predictions.apply(lambda x: 1 if x else 0)
predictions

0        0
1        1
2        0
3        0
4        1
        ..
76873    0
76874    0
76875    0
76876    0
76877    0
Length: 76878, dtype: int64

---

### Evaluate Model

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [ ]:
# Generate the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

# Generate classification report
print("Classification Report")
print(classification_report(y_test, predictions))

          Predicted 0  Predicted 1
Actual 0        70454          295
Actual 1         5324          805

Accuracy Score : 0.9269101693592445
Classification Report
              precision    recall  f1-score   support

           0       0.93      1.00      0.96     70749
           1       0.73      0.13      0.22      6129

    accuracy                           0.93     76878
   macro avg       0.83      0.56      0.59     76878
weighted avg       0.91      0.93      0.90     76878

# Kaggle Submission

In [ ]:
# merged_test.head()

In [ ]:
# preds = classifier.predict_proba(merged_test.drop(['SK_ID_CURR'], axis=1))[:, 1]
# preds.shape

In [ ]:
preds = prediction_proba.max(axis=1)

In [ ]:
application_test['TARGET'] = preds
application_test[['SK_ID_CURR', 'TARGET']].to_csv(relative_path + '/result.csv', index=False)