## Random Forest Classifier

In [1]:
import pandas as pd
import numpy as np 
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from collections import Counter
%matplotlib inline
from pathlib import Path

# Needed for decision tree visualization

# Try using oversampling to help balance the data more
import pydotplus
from IPython.display import Image
# model.feature_importances
# target 1 is payment difficulties
import gc

## Encoding

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
def encode(X):
return X.apply(lambda x: X[x.name] if X[x.name].dtype == 'int64' or X[x.name].dtype == 'float64' else LabelEncoder().fit_transform(X[x.name].astype(str)))

In [4]:
from google.colab import drive
drive.mount('/content/drive')
relative_path = '/content/drive/My Drive/Colab Notebooks'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Import Data

In [5]:
application_train = pd.read_csv(Path('/content/Data/application_train.csv'))
application_train['DAYS_EMPLOYED'] = application_train['DAYS_EMPLOYED'].replace(365243, np.nan)
application_train['OWN_CAR_AGE'] = application_train['OWN_CAR_AGE'].fillna(0)
application_train = encode(application_train)
application_train.shape

(307511, 122)

In [6]:
application_test = pd.read_csv(Path('/content/Data/application_test.csv'))
application_test['DAYS_EMPLOYED'] = application_test['DAYS_EMPLOYED'].replace(365243, np.nan)
application_test['OWN_CAR_AGE'] = application_test['OWN_CAR_AGE'].fillna(0)
application_test = encode(application_test)
application_test.head()

   SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0      100001  ...                         0.0
1      100005  ...                         3.0
2      100013  ...                         4.0
3      100028  ...                         3.0
4      100038  ...                         NaN

[5 rows x 121 columns]

In [7]:
# use helper function to assist in grouping data
def get_agg(app, agg_list, group_by_column='SK_ID_CURR'):
  app = encode(app)
  app = app.groupby(group_by_column).agg(agg_list)
  app.columns = ['_'.join(col) for col in app.columns.values]
  app.reset_index(inplace=True)
  return app

In [8]:
credit_card_balance = pd.read_csv(Path('/content/Data/credit_card_balance.csv'))
credit_card_balance.drop(columns=['SK_ID_PREV'], inplace=True)
credit_card_balance.head()

   SK_ID_CURR  MONTHS_BALANCE  ...  SK_DPD  SK_DPD_DEF
0      378907              -6  ...     0.0         0.0
1      363914              -1  ...     0.0         0.0
2      371185              -7  ...     0.0         0.0
3      337855              -4  ...     0.0         0.0
4      126868              -1  ...     0.0         0.0

[5 rows x 22 columns]

In [9]:
credit_card_balance = get_agg(credit_card_balance, ['min', 'max', 'mean', 'sum', 'var'])
credit_card_balance.head()

   SK_ID_CURR  MONTHS_BALANCE_min  ...  SK_DPD_DEF_sum  SK_DPD_DEF_var
0      100006                  -6  ...             0.0        0.000000
1      100011                 -74  ...             0.0        0.000000
2      100013                 -96  ...             1.0        0.013699
3      100021                 -18  ...             0.0        0.000000
4      100023                 -11  ...             0.0        0.000000

[5 rows x 106 columns]

In [10]:
# Merge data and split this way to avoid overfitting
merged = pd.merge(left=application_train, right=credit_card_balance, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=application_test, right=credit_card_balance, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del application_train
del credit_card_balance
gc.collect()

15

In [11]:
# import csv file 
prev_app = pd.read_csv(Path('/content/Data/previous_application.csv'))
prev_app.replace(365243, np.nan, inplace= True)
prev_app.drop(columns=['SK_ID_PREV'], inplace=True) 
prev_app.head()

   SK_ID_CURR NAME_CONTRACT_TYPE  ...  DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0    271877.0     Consumer loans  ...             -37.0                        0.0
1    108129.0         Cash loans  ...               NaN                        1.0
2    122040.0         Cash loans  ...               NaN                        1.0
3    176158.0         Cash loans  ...            -177.0                        1.0
4    202054.0         Cash loans  ...               NaN                        NaN

[5 rows x 36 columns]

In [12]:
prev_app = get_agg(prev_app, ['min', 'max', 'mean'])
prev_app.head()

   SK_ID_CURR  ...  NFLAG_INSURED_ON_APPROVAL_mean
0    100001.0  ...                        0.000000
1    100002.0  ...                        0.000000
2    100003.0  ...                        0.666667
3    100004.0  ...                        0.000000
4    100005.0  ...                        0.000000

[5 rows x 106 columns]

In [13]:
# Merge data and split this way to avoid overfitting
merged = pd.merge(left=merged, right=prev_app, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=prev_app, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del prev_app
gc.collect()

0

In [14]:
# import csv files
bureau = pd.read_csv('/content/Data/bureau.csv')
bureau_balance = pd.read_csv('/content/Data/bureau_balance.csv')

In [15]:
bureau_balance = get_agg(bureau_balance, ['min', 'max', 'mean'], group_by_column='SK_ID_BUREAU')
bureau_all = pd.merge(left=bureau, right=bureau_balance, how='left', left_on='SK_ID_BUREAU', right_on='SK_ID_BUREAU')
bureau_all.drop(columns=['SK_ID_BUREAU'], inplace=True)
bureau_all = get_agg(bureau_all, ['min', 'max', 'mean'])

In [16]:
# Merge data and split this way to avoid overfitting
merged = pd.merge(left=merged, right=bureau_all, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=bureau_all, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del bureau
del bureau_balance
del bureau_all

gc.collect()

0

In [17]:
# import csv files
installments_payment = pd.read_csv('/content/Data/installments_payments.csv')
installments_payment.drop(columns=['SK_ID_PREV'], inplace=True)
installments_payment.head()

   SK_ID_CURR  NUM_INSTALMENT_VERSION  ...  AMT_INSTALMENT  AMT_PAYMENT
0      161674                     1.0  ...        6948.360     6948.360
1      151639                     0.0  ...        1716.525     1716.525
2      193053                     2.0  ...       25425.000    25425.000
3      199697                     1.0  ...       24350.130    24350.130
4      167756                     1.0  ...        2165.040     2160.585

[5 rows x 7 columns]

In [18]:
installments_payment = get_agg(installments_payment, ['max', 'mean', 'sum', 'var'])

In [19]:
# Merge data and split this way to avoid overfitting
merged = pd.merge(left=merged, right=installments_payment, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=installments_payment, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del installments_payment
gc.collect()

0

In [20]:
pos_cash_balance = pd.read_csv('/content/Data/POS_CASH_balance.csv')
pos_cash_balance.drop(columns=['SK_ID_PREV'], inplace=True)
pos_cash_balance.head()

   SK_ID_CURR  MONTHS_BALANCE  ...  SK_DPD  SK_DPD_DEF
0      182943           -31.0  ...     0.0         0.0
1      367990           -33.0  ...     0.0         0.0
2      397406           -32.0  ...     0.0         0.0
3      269225           -35.0  ...     0.0         0.0
4      334279           -35.0  ...     0.0         0.0

[5 rows x 7 columns]

In [21]:
pos_cash_balance = get_agg(pos_cash_balance, ['max', 'mean', 'size'])

In [22]:
# Merge data and split this way to avoid overfitting
merged = pd.merge(left=merged, right=pos_cash_balance, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merged_test = pd.merge(left=merged_test, right=pos_cash_balance, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')

del pos_cash_balance
gc.collect()

0

In [23]:
merged.head()

   SK_ID_CURR  TARGET  ...  SK_DPD_DEF_mean_y  SK_DPD_DEF_size
0      100002       1  ...                0.0             11.0
1      100003       0  ...                0.0             26.0
2      100004       0  ...                0.0              4.0
3      100006       0  ...                0.0             17.0
4      100007       0  ...                0.0             62.0

[5 rows x 437 columns]

## Split data into training and testing sets

In [24]:
y = merged["TARGET"].values.reshape(-1, 1)
y[:5]

array([[1],
       [0],
       [0],
       [0],
       [0]])

In [25]:
X = merged.drop(columns=['SK_ID_CURR', 'TARGET'])
X.head()

   NAME_CONTRACT_TYPE  CODE_GENDER  ...  SK_DPD_DEF_mean_y  SK_DPD_DEF_size
0                   0            1  ...                0.0             11.0
1                   0            0  ...                0.0             26.0
2                   1            1  ...                0.0              4.0
3                   0            0  ...                0.0             17.0
4                   0            1  ...                0.0             62.0

[5 rows x 435 columns]

In [26]:
# Use this helper function to assit in dropping null values and use the mean ti fill the gap
def fill_in(data):
    for i in data.columns:
      if data[i].dtype == "object":
          data[i] = data[i].fillna("")
      elif (data[i].dtype == "int64" or data[i].dtype == "float64"):
             data[i] = data[i].fillna(data[i].mean())
      else:
            pass
    return data

In [27]:
X = fill_in(X)

In [28]:
X.isnull().sum().sum()

0

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=78)

In [31]:
y_train[:-50]

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

## Scale the data

In [32]:
scaler = StandardScaler()

In [33]:
# fit the scaler to the training data
scaler = scaler.fit(X_train)

In [34]:
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [35]:
X_train_scaled.shape

(230633, 435)

## Build RandomForest Model

In [36]:
model = RandomForestClassifier(n_estimators = 1000, random_state = 78, max_depth=3, min_samples_split=4)

In [37]:
model = model.fit(X_train_scaled, y_train )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [38]:
# We need to make predictions based on the data
predictions = model.predict(X_test_scaled)

In [39]:
y_test.shape

(76878, 1)

In [40]:
# Model Evaluation
# create a confusion matrix to easily read the data evaluation
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual Approve", "Actual Deny"], columns=["Predicted Approve", "Predicted Deny"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [41]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

                Predicted Approve  Predicted Deny
Actual Approve              70749               0
Actual Deny                  6129               0

Accuracy Score : 0.9202762819011941
Classification Report
              precision    recall  f1-score   support

           0       0.92      1.00      0.96     70749
           1       0.00      0.00      0.00      6129

    accuracy                           0.92     76878
   macro avg       0.46      0.50      0.48     76878
weighted avg       0.85      0.92      0.88     76878

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Do oversampling

In [42]:
from imblearn.over_sampling import SMOTE

X_resampled, y_resampled = SMOTE(random_state =78, sampling_strategy = 1).fit_resample(X_train_scaled, y_train)

from collections import Counter

Counter(y_resampled)

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

Counter({0: 211937, 1: 211937})

In [97]:
model_2 = RandomForestClassifier(n_estimators = 1500, random_state = 78, max_depth=2, min_samples_split=4 )

In [98]:
model_2 = model_2.fit(X_resampled, y_resampled)

In [99]:
predictions_2 = model_2.predict(X_test_scaled)

In [100]:
cm = confusion_matrix(y_test, predictions_2)
cm_df = pd.DataFrame(
    cm, index=["Actual Approve", "Actual Deny"], columns=["Predicted Approve", "Predicted Deny"]
)

# Calculating the accuracy score
acc_score_2 = accuracy_score(y_test, predictions_2)

In [101]:
#important_features = model.feature_importances_
importances_sorted = sorted(zip(model_2.feature_importances_, X.columns), reverse=True)
#importances_sorted

In [102]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions_2))

Confusion Matrix

                Predicted Approve  Predicted Deny
Actual Approve              59122           11627
Actual Deny                  4605            1524

Accuracy Score : 0.9202762819011941
Classification Report
              precision    recall  f1-score   support

           0       0.93      0.84      0.88     70749
           1       0.12      0.25      0.16      6129

    accuracy                           0.79     76878
   macro avg       0.52      0.54      0.52     76878
weighted avg       0.86      0.79      0.82     76878

In [108]:
# Use SelectFromModel to use the the top important feautres

In [103]:
 from sklearn.feature_selection import SelectFromModel

In [104]:
model_3 = SelectFromModel(model_2, prefit=True)

In [105]:
new_df = model_3.transform(X_resampled)
xtest_transformed = model_3.transform(X_test_scaled)

In [52]:
new_df[0]

array([-7.24017494e-01, -7.20354933e-01, -6.55316371e-01,  6.24047461e-01,
       -1.77981453e-04, -6.24815196e-01,  1.17106660e+00, -6.10366829e-02,
        1.18488236e+00, -2.81876915e-01,  5.14638145e-01,  1.41180308e-03,
       -5.49771919e-04, -7.00034850e-04, -6.57016678e-01,  8.95096743e-01,
        8.23772522e-01,  1.04924042e+00, -1.55969602e+00, -8.15217529e-02,
       -6.74300803e-02, -1.80902630e-01,  8.58791036e-01, -3.37750479e-01,
        2.69935510e-01, -1.86044208e+00,  1.12844894e+00, -4.98124920e-01,
        3.63934971e-01,  2.72362700e-01, -1.15909152e-02, -6.29807099e-02,
       -4.96544021e-02, -1.08390621e-02, -5.78952935e-02, -4.20434095e-02,
       -4.86417556e-01, -1.24958485e-02, -3.57761623e-02, -2.07669551e-02,
       -3.30710277e-02, -1.78927668e-01, -1.27712279e-01, -1.83114615e-02,
       -3.25496327e-01, -1.08326930e-01, -3.55857084e-01, -2.78951633e-01,
       -5.74134988e-02, -2.91411047e-01, -2.15502934e-01, -3.78428462e-03,
       -1.35760379e-02, -9.83804985e-03,  9.01618556e-02, -6.18157254e-01,
       -4.60624317e-01, -1.26828410e-01, -9.45584181e-02, -7.01815914e-02,
       -1.20360126e-02, -1.59213679e-02])

In [53]:
y_resampled.shape

(423874,)

## Refit new model

In [119]:
rf_model = RandomForestClassifier(n_estimators = 1100, random_state = 78, max_depth=2, min_samples_split=4, min_samples_leaf=2)

In [120]:
rf_model = rf_model.fit(new_df, y_resampled)

In [121]:
predictions_3 = rf_model.predict(xtest_transformed)

In [122]:
predictions_3.shape

(76878,)

In [123]:
cm = confusion_matrix(y_test, predictions_3)
cm_df_3 = pd.DataFrame(
    cm, index=["Actual Approve", "Actual Deny"], columns=["Predicted Approve", "Predicted Deny"]
)

# Calculating the accuracy score
acc_score_3 = accuracy_score(y_test, predictions_3)

In [124]:
# Displaying results
print("Confusion Matrix")
display(cm_df_3)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions_3))

Confusion Matrix

                Predicted Approve  Predicted Deny
Actual Approve              59342           11407
Actual Deny                  4265            1864

Accuracy Score : 0.9202762819011941
Classification Report
              precision    recall  f1-score   support

           0       0.93      0.84      0.88     70749
           1       0.14      0.30      0.19      6129

    accuracy                           0.80     76878
   macro avg       0.54      0.57      0.54     76878
weighted avg       0.87      0.80      0.83     76878